.badge {
  background-color: var(--tomato);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  font-size: 15px;
}
.alarm-dot {
  background-color: var(--tomato);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
